__pychache__
.pytest_cache
.spyproject
energies.dat
expvalues.dat
potential.dat
schroedinger.inp
wavefuncs.dat
RefPot1.dat
RefPot2.dat
RefPot3.dat
RefPot4.dat
RefPot5.dat
RefPot6.dat
.venv/
All.inp
__pycache__/interpolator.cpython-37.pyc
__pycache__/plotter.cpython-37.pyc
__pycache__/solver.cpython-37.pyc
__pycache__/plotter.cpython-39.pyc
__pycache__/interpolator.cpython-310.pyc
RefExp1.dat
RefExp2.dat
RefExp3.dat
RefExp4.dat
RefExp5.dat
RefExp6.dat

